.header {
    height: 65px;
    line-height: 65px;
    position: absolute;
    right: 0;
}

a {
    margin-right: 40px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover {
    border-bottom: 1px solid black;
}

a.active {
    border-bottom: 1px solid black;
}