<div id="container" fxLayout="column" fxLayoutAlign="center center">

    <div class="title mat-display-4">COCKTAILS</div>

    <div class="wrapper">
        <input 
            #searchBox
            class="search-box"
            (input)="search(searchBox.value)"
            autocomplete="off"
            placeholder="What kind of cocktail do you fancy?"
        />

        <ul class="search-results">
            <li *ngFor="let cocktail of cocktails$ | async">
                <div class="search-result" fxLayout="row" routerLink="{{cocktail.idDrink}}">
                    <img class="image"  [src]="cocktail.strDrinkThumb" alt="">
                    <p>{{cocktail.strDrink}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>