.image {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity .5s ease-in-out;
}

.image.fade {
    opacity: 0;
}

#quote {
    opacity: 0.8;
    width: 500px;
    line-height: 1.5;
    font-weight: 100;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'Gentium Book Basic', serif;
    z-index: -1;
}

.text {
    font-size: 28px;
}

.cite {
    font-size: 18px;
}