<div id="container" fxLayout="column">
    <h1 class="title mat-display-4">Ingredients</h1>
    
    <div id="search" (focusout)="setFocus(false)" tabindex="0" >
        <input
            #searchBox
            class="search-box"
            (input)="search(searchBox.value)"
            (focus)="setFocus(true)"
            autocomplete="off"
            placeholder="Search"
            tabindex="1"/>

        <ul class="search-results" *ngIf="focused">
            <li *ngFor="let ingredient of filteredIngredients">
                <div class="search-result" (mousedown)="addIngredient(ingredient)" fxLayout="row">
                    <img class="image" [src]="'https://www.thecocktaildb.com/images/ingredients/' + ingredient.strIngredient1 + '.png'">
                    <p class="text">{{ingredient.strIngredient1}}</p>
                </div>
            </li>
        </ul> 
    </div>

    <div id="ingredients" fxLayout="column" fxGrow>
        <div
            class="ingredient"
            *ngFor="let ingredient of selectedIngredients"
            (click)="removeIngredient(ingredient)"
            fxLayout="row"
        >
            <img class="image" [src]="'https://www.thecocktaildb.com/images/ingredients/' + ingredient + '.png'" alt="">
            <div class="label">{{ingredient}}</div>
        </div>
    </div>
</div>