<div #viewCocktails id="container-1">
    <app-background></app-background>
    <app-cocktail-search></app-cocktail-search>
</div>

<div id="arrow" (click)="onArrowClick()">
    <img
        id="arrow-image"
        src="assets/images/scroll-down-arrow.png"
        alt=""
        [ngStyle]="{'transform': (view == 'ingredients') ? 'rotate(180deg)' : ''}">
</div>

<div #viewIngredients id="container-2" fxLayout="row">
    <app-ingredient-search (cocktails)="renderCocktails($event)"></app-ingredient-search>
    <app-cocktail-list [cocktails]="cocktails" class="test"></app-cocktail-list>
</div>

<router-outlet></router-outlet>