#backdrop {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 500px;
}

#left {
    box-sizing: border-box;
    width: 50%;
    padding: 30px 60px 20px 60px;
    overflow-y: scroll;
    background: white;
    border-radius: 10px 0 0 10px;
}

#left .title {
    font-family: "Amatic SC", cursive;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}

.instructions {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
}

.ingredient {
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.ingredient-name {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.ingredient-measurement {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.ingredient-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.ingredient-description {
    width: 100%;
}

#right {
    width: 50%;
    background-size: cover;
    border-radius: 0 10px 10px 0;
    background-color: white;
}

.ingredient-open {
    visibility: hidden;
    color: rgba(0, 0, 0, 0.6);
    fill: rgba(0, 0, 0, 0.6);
}

.ingredient-open-text {
    margin: 0;
}

.ingredient-open-icon {
    margin-left: 5px;
}

.ingredient:hover > .ingredient-description > .ingredient-open {
    visibility: visible;
}

.spinnerbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
}

.spinner {
    fill: transparent;
    stroke: rgba(0, 0, 0, 0.8);
    stroke-width: 10%;
    stroke-dasharray: 220px;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    height: 70px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #E0DEE0;
}

.header .title {
    margin-bottom: 0px;
    font-size: 21px;
    margin-left: 20px;
    font-weight: 500;
}

.header .close-s {
    padding: 10px;
    fill: #787779;
    cursor: pointer;
}

.close-l {
    position: absolute;
    left: 7px;
    top: 7px;
    fill: white;
    padding: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #container {
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        transform: none;
    }

    #left {
        width: 100%;
        height: 60%;
        padding: 20px;
        border-radius: 0px;
    }

    #right {
        width: 100%;
        height: 40%;
        border-radius: 0px;
    }

    .ingredient {
        height: 100px;
        padding: 0px;
        background: none;
        margin-bottom: 0px;
    }

    .ingredient:hover {
        background-color: #F5F5F5;
    }

    .ingredient-image {
        width: 80px;
        height: 80px;
        margin-top: 10px;
    }

    .ingredient-name {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .ingredient-measurement {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 0px;
    }
}