<div id="page">
    <div id="backdrop" (click)="goBack()"></div>
    <div id="container">
        <div *ngIf="cocktail" fxFlexFill fxLayout="row">
            <div id="left" flex>
                <h1 class="title">{{cocktail.strDrink}}</h1>
                <p class="instructions">{{cocktail.strInstructions}}</p>
                <div class="ingredient" *ngFor="let ingredient of ingredients" fxLayout="row">
                    <img class="ingredient-image" [src]="'https://www.thecocktaildb.com/images/ingredients/' + ingredient.name + '.png'" alt="">
                    <div fxLayout="column">
                        <p class="ingredient-name">{{ingredient.name}}</p>
                        <p class="ingredient-measurement">{{ingredient.measurement}}</p>
                    </div>
                </div>
            </div>
            <div id="right" flex [style.backgroundImage]="'url(' + cocktail.strDrinkThumb + ')'"></div>
        </div>
    </div>
</div>