.container {
  padding: 0px 40px 0 10px;
  overflow-y: auto;
  max-height: 100%;
}

.card {
  position: relative;
  width: 250px;
  height: auto;
  cursor: pointer;
  box-sizing: unset !important;
  height: auto;
  transition: transform .1s ease-in-out;
  outline: none;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05, 1.05)
}

.card-image {
  background-size: cover;
  height: 250px;
  width: 100%;
}

.card-header {
  box-sizing: border-box;
  padding: 16px 0 16px 0;
}

.card-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}
.card.hidden {
  visibility: hidden;
}