.container {
  padding: 40px;
  overflow-y: auto;
  max-height: 100%;
}

.card {
  position: relative;
  /* border: 1px solid #e0e0e0; */
  width: 250px;
  height: auto;
  margin-bottom: 40px;
  cursor: pointer;
  box-sizing: unset !important;
  /* border-radius: 4px; */
  /* background: white; */
  height: auto;
  transition: transform .2s;
  outline: none;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05, 1.05)
}

.card-image {
  background-size: cover;
  height: 250px;
  width: 100%;
}

.card-header {
  box-sizing: border-box;
  padding: 12px 0 12px 0;
}

.card-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}
